{% extends 'base.html.twig' %}


{% block title %}Hello TaskController!
{% endblock %}

{% block body %}

	<div class="container">
		<a href="{{ path('task_create') }}" class="btn btn-primary float-end">{% trans from "messages" %}general.button.add{% endtrans %}</a>
		<table class="table-striped table-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>{% trans from "messages" %}general.name{% endtrans %}</th>
				<th>{% trans from "messages" %}general.description{% endtrans %}</th>
				<th>{% trans from "messages" %}general.due_date{% endtrans %}</th>
				<th>{% trans from "messages" %}general.category{% endtrans %}</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.description }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.tag.name }}</td>
							<td>
								<a href="{{ path('task_update', {'id': task.id}) }}" class="btn btn-success">{% trans from "messages" %}general.button.update{% endtrans %}</a>
							</td>
							<td>
								<a href="{{ path('task_delete', {'id': task.id}) }}" class="btn btn-danger">{% trans from "messages" %}general.button.delete{% endtrans %}</a>
							</td>
						</tr>
					{% endfor %}
				{% endif %}

			</tbody>
		</table>
	</div>
{% endblock %}
